main {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 15px;
  padding-top: 50px;
}

section {
  width: 600px;
}

.filter-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-form-modal {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
